.field-input {
    position: relative;
}

.field-input__error{
    color: #c80000;
    position: absolute;


    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    /*top: 50%;*/
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    /*right: 8px;*/
    pointer-events: none;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    -moz-transition: opacity .4s;
    transition: opacity .4s;
    opacity:0.8;
}

.field-input__input {
    outline: none;
    border: none;
    color: #999;
    font-size: 15px;
    line-height: 1.5;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
    box-sizing: border-box
}

.field-input__input::-webkit-input-placeholder {
    color: #999
}

.field-input__input::-moz-placeholder {
    color: #999
}

.field-input__input::-ms-input-placeholder {
    color: #999
}

.field-input__focus {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0 0;
    color: rgba(87, 184, 70, .8);
    box-sizing: border-box;
}

.field-input__input:focus + .field-input__focus {
    -webkit-animation: anim-shadow .5s ease-in-out forwards;
    animation: anim-shadow .5s ease-in-out forwards
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0 0 70px 25px;
        opacity: 0
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0 0 70px 25px;
        opacity: 0
    }
}

.field-input__icon {
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    box-sizing: border-box;
}

.field-input__input:focus + .field-input__focus + .field-input__icon {
    color: #57b846;
    padding-left: 28px
}
