.LoginContainer__refreshIcon {
    position: absolute;
    top: 0;
    display: inline-flex;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;

    background: #f0f0f0;
    margin-left: 1px;
    border-radius: 50%;
    color: #3f3f3f;
    height: 2.625rem;
    width: 2.625rem;

    transition: all .4s cubic-bezier(.25, .8, .25, 1);
    will-change: transform;
}

.LoginContainer__refreshIcon--text {
    border-radius: 4rem;
    font-size: 10px;
    width: 5rem;
}


.LoginContainer__refreshIcon:hover {
    background: #e0e0e0;
}