<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />

      </files>
    </defaultDocument>

    <rewrite>
      <rules>

			<rule name="Root Hit Redirect" stopProcessing="true">
                <match url="^$" />
                <action type="Rewrite" url="index2.html" />
            </rule>
			
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <staticContent>
            <mimeMap fileExtension="." mimeType="text/plain" />
        </staticContent>

  </system.webServer>
</configuration>

