.btn-dashboard-container {
  position: absolute;
  align-self: flex-start;
  justify-self: center;
}

.empty-block i {
  font-size: 1.6rem;
}

.chart-title {
  position: absolute;
  z-index: 10; 
  padding: 4px 8px;
  background-color: rgba(240, 240, 240, 0.85); 
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap; 
}


.title-topCenter {
  top: 10px; 
  left: 50%;
  transform: translateX(-50%); 
}
.title-bottomCenter {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.title-left {
  left: 10px;
  top: 50%;
  transform: translateY(-50%); 
}

.title-right {
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);
}

.title-topLeft {
  top: 10px;
  left: 10px;
}

.title-topRight {
  top: 10px;
  right: 10px;
}

.title-bottomLeft {
  bottom: 10px;
  left: 10px;
}

.title-bottomRight {
  bottom: 10px;
  right: 10px;
}
