
.btn-dashboard {
  border: none;
  background: none;
  opacity: 0.2;
  transition: all 0.4s ease-out;
  font-size: 1.1rem;
  color: dodgerblue;
  padding: 0.3rem !important;
}

.btn-dashboard-empty {
  font-size: 2rem;
}

.btn-dashboard:hover {
  background: transparent;
  cursor: pointer;
  opacity: 0.5;
  color: dodgerblue !important;
}

.btn-dashboard:hover .btn-dashboard_Icon {
  text-shadow: 0 0 2px dodgerblue;
  color: dodgerblue !important;
}

.btn-dashboard:focus,
.btn-dashboard:active {
  background-color: transparent;
  border: transparent;
  outline: none;
  color: dodgerblue !important;
}
